.book-item {
    box-sizing: border-box;
    display: inline-block;
    margin: 0.3em;
    width: 100%;
}

.search {
    padding: 10px;
}

.container {
    padding: 0px 240px;
}

.btn {
  background-image: linear-gradient(to top right, #A439EC, #FC656A);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.book-item img {
    width: 100%;
}

.book-list {
    column-gap: 1.2em;
    font-size: .85em;
    margin: 1.5em 0;
    padding: 0;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.book-list2 {
    column-gap: 1.2em;
    font-size: .85em;
    margin: 1.5em 0;
    padding: 0;
    width: 50%;
}

input {
    display: block;
    font-size: 22px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.falseh1 {
  color:  black;
  text-decoration: none;
}

.post-container {
    margin: 20px 20px 0 0; 
    border: 5px solid #333;
    overflow: auto;
    width: 40%
}

.post-thumb {
    float: left;
}

.post-thumb img {
    height: 100px
}

.post-content {
    margin-left: 150px
}

.post-title {
    font-weight: bold;
    font-size: 200%
}