.toggle-background {
    background-color: #808080;
    height: 100vh
}

.toggle-container {
    background-color: #ffffff;
    height: 100vh;
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: insert 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    margin: 0px 40px 0px 125px
}

.toggle-container > h1 {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 50px;
  margin-top: 100px;
}

.toggle-btns {
  margin-top: 32px;
}